{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
<style>
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock meta %}

{% block content %}

<div class="login">
    <p class="h3 text-center">Login</p>
    <hr />
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-secondary" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="" class="form-container">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control mb-2" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control mb-2" id="password" placeholder="Password">
        </div>
        <input class="login_btn btn btn-primary my-2" type="submit" value="Login">
    </form>
            
    <hr />
    <div class="text-center">
        Belum mempunyai akun? <a href="{% url 'todolist:register' %}" class="link">Buat Akun</a>
    </div>     
</div>

{% endblock content %}

<!-- References: https://youtu.be/d2V60-bAmJE -->