{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
<style>
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock meta %}

{% block content %}  

<div class = "register">
    <p class="h3 text-center">Formulir Registrasi</p>
    <hr />

    {% if messages %}  
        {% for message in messages %}  
            <div class="alert alert-secondary" role="alert">
                {{ message }}
            </div> 
        {% endfor %}  
    {% endif %}

    <form method="POST" class="form-container">  
        {% csrf_token %}  
        <table>  
            {{ form.as_table }}  
            <tr>  
                <td><input class="btn btn-primary my-2" type="submit" name="submit" value="Daftar"/></td>  
            </tr>  
        </table>  
    </form>
</div>  

{% endblock content %}